
  <h1>index</h1>
  <form action="/artists" method="GET">
      <input type="text" name="search_query" placeholder="Search for an Artist"/>
      
      <button type="submit">Search</button>
    </form>